{% load static %}
<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; 2023 CarWash. Todos los derechos reservados.</p>
        <p>Dirección: Calle Principal #123, Riohacha, Colombia</p>
        <p>Teléfono: +57 300 3203214 | Email: contacto@carwash.com</p>
        <div class="social-icons">
            <a href="#">
                <img src="{% static "img/facebook.png" %} " style="width: 20px; height: 20px;">
            </a> |
            <a href="#">
            <img src="{% static "img/instagram.png" %} " style="width: 20px; height: 20px;">
            </a> |
            <a href="#">
                <img src="{% static "img/twitter.png" %} " style="width: 20px; height: 20px;">
            </a>
        </div>
    </div>
</footer>